@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-size: 1vw;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.banner img {
  position: relative !important;
}

.col-before::after { 
  position: absolute;
  content: '';
  left: -2.535rem;
  height: 52%;
  width: 0.16506rem;
  top: 20%;
  background-color: #C5C5C5;
  transform: rotate(25deg);
}

.line-bottom {
  position: absolute;
  min-width: 100%;
  height: 0.1875rem;
  bottom: 0;
  background: linear-gradient(to right, #F58F5D 30%, #55D5D2 60%);
  background-size: 100% 100%, 100% 100%;
  background-repeat: no-repeat;
}


.box-shadown, .swiper-backface-hidden .swiper-slide  {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05) !important;
  overflow: visible;
}

.swiper { 
  padding: 0rem !important;
  padding-bottom: 1.5rem;;
  height: 27.7rem;
}

.swiper-backface-hidden .swiper-slide {
  border-radius: 1rem;
  overflow: visible;
}


.relative img {
  border-radius: 1rem;
}

.swiper-backface-hidden .swiper-slide {
  padding-bottom: 2rem;
    height: calc(100% - 1.5rem);
    background-color: #fff;
}

.colection-shadown {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05) ;
  border-radius: 1rem;;
}

@keyframes scrollText {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.title-scroll-auto {
  animation: scrollText 20s infinite linear;
}

img {
  transition: transform .3s ease-in-out;

}

.colection-shadown {
  overflow: hidden;
}

.slide-hover:hover img, .colection-shadown:hover img {
  transform: scale(1.1); 
}

.price-product-slide , .colection-shadown{
  transition: transform .3s ease-in-out;
}

.slide-hover:hover .price-product-slide, .colection-shadown:hover .price-product-slide{
  background-color: #f58f5d;
  transform: translateY(-0.2rem);
}

.arrow-peoduct-slide  {
  transition: transform .3s ease-in-out;

}

.slide-hover:hover .arrow-peoduct-slide, .colection-shadown:hover .arrow-peoduct-slide {
  transform: rotate(45deg);
}

.swiper-backface-hidden .swiper-slide {
  overflow: hidden !important;
 }

 .swiper-backface-hidden .swiper-slide{
  cursor: pointer !important
  ;
 }

 /* address icons */
 .address-icon {
  width: 26px;
  height: 26px;
 }
.flow-address  svg{
  width: 1.99981rem;
  height: 2rem;
  color: #F58F5D;
  background-color: #fff;
  border-radius: 50%;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 4px !important;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
}

.swiper-pagination {
  align-items: center;
  display: flex ;
  top: 2.5rem;
  justify-content: center;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets {
 
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	padding: 2px 2px;
	line-height: 30px;
	font-size: 12px;
  opacity: 1;
	background: #fff !important;
}
.banner .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  padding: 6px 6px;
	background: #44AAA8 !important;
  border: 2px solid;
    border-color: #ffff;
}

.address-all .swiper-wrapper {
  height: 30.5rem;
}

.address-swiper .swiper {
  height: 31rem;
}




 @media screen and (max-width: 767px) {
  .swiper-backface-hidden .swiper-slide {
    width: 10.375rem  !important;
  }
  
.swiper { 
  padding: 0rem !important;
  padding-bottom: 1.5rem;;
  height: 19.7rem;
}
 }

 .hidden-scollbar::-webkit-scrollbar {
  display: none;
}



img {
  position: relative !important;
}
